<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  {{!-- Game Logic --}}
  {{!-- <script src="../../public/js/game.js"></script> --}}

 
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Baseball Scorecard</title>
</head>

<body>
  {{{body}}}
</body>

<script>
  $(document).ready(() => {


    $('.home-team-btn').on('click', function () {
      $('#home-roster').empty();
      let id = $(this).data('id');
      
      $(`.${id}`).hide();
      $("#home-team").hide();

      $.ajax(`/api/home/team/${id}`, {
        type: 'GET'

      }).then(
         function(data) {
         
           data.reduce(function(table, row){
             $(`<tr>
                <th scope="row" class="player" id="${row.player_id}">${row.jersey_number}</th>
                <td>${row.player_name}</td>
                <td>${row.position}</td>
                <td>${row.handness}</td>
                <td>${row.bat_avg}</td>
                <td><button class="player-at-bat-btn" id="ht-player-${row.player_id}"
                  data-name="${row.player_name}"
                  data-pos="${row.position}"
                  data-ros="${row.jersey_number}"
                  data-hand="${row.handness}"
                  data-bat_avg="${row.bat_avg}"
                  data-player_id="${row.player_id}">Bat</button></td>
              </tr>`).appendTo(table);

            return table;

            


          }, $(`<table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Roster</th>
                      <th scope="col">Name</th>
                      <th scope="col">Position</th>
                      <th scope="col">Hand</th>
                      <th scope="col">Avg</th>
                    </tr>
                  </thead>
                  <tbody id="home-roster"></tbody>
                </table>`)).appendTo($('#home-roster'))

         
        }
      );
    });

    $('.away-team-btn').on('click', function () {
      $('#away-roster').empty();
      let
        id = $(this).data('id')
     
      $(`.${id}`).hide();
      $('#away-team').hide();

      $.ajax(`/api/away/team/${id}`, {
        type: 'GET'

      }).then(
        function (data) {
          data.reduce(function (table, row) {
            $(`<tr>
                <td><button class="player-at-bat-btn" id="ht-player-${row.player_id}"
                  data-name="${row.player_name}"
                  data-pos="${row.position}"
                  data-ros="${row.jersey_number}"
                  data-hand="${row.handness}"
                  data-bat_avg="${row.bat_avg}"
                  data-player_id="${row.player_id}">Bat</button></td>
                </td>
                <th scope="row">${row.jersey_number}</th>
                <td>${row.player_name}</td>
                <td>${row.position}</td>
                <td>${row.handness}</td>
                <td>${row.bat_avg}</td>
                
              </tr>`).appendTo(table);

            return table;

          }, $(`<table class="table">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Roster</th>
                      <th scope="col">Name</th>
                      <th scope="col">Position</th>
                      <th scope="col">Hand</th>
                      <th scope="col">Avg</th>
                    </tr>
                  </thead>
                  <tbody id="home-roster"></tbody>
                </table>`)).appendTo($('#away-roster'))
        }
      );
    });

    $(document).on('click', '.player-at-bat-btn', function() {
      let dataSet = $(this)[0].dataset;
      $('#batter-card').show();
      $('#batter-card-name').text(dataSet['name']);
      $('#batter-card-bat_avg').text(dataSet['bat_avg']);
      $('#batter-card-roster').text(dataSet['ros']);
      $('#batter-card-pos').text(`Position: ${dataSet['pos']}`);
      $('#batter-card-hand').text(`Bats: ${dataSet['hand']}`);
      $('#batter-card').attr('data-player_id',`${dataSet['player_id']}`);
    })

    $('#hit-btn').on('click', function(){ 
      let player_id = $(this).parent()[0].dataset['player_id'];
      $('#batter-card').hide();
      console.log('hit');
      console.log(player_id);

      // avdance base

      // update base
    });
     

    $('#out-btn').on('click', function(){ 
      let player_id = $(this).parent()[0].dataset['player_id'];
      $('#batter-card').hide();
      console.log('out');
      console.log(player_id);

      //out game logic

      //update data base


    });
  })
</script>

{{!-- Sum up the scores on the scoreboard --}}
<script>
  var visTotalSum = 0;
  $('.visScore').on('change', function () {
    var currentValue = parseInt($(this).val())
    visTotalSum += currentValue
    $('#resultVis').text(visTotalSum);
  });

  var homeTotalSum = 0;
  $('.homeScore').on('change', function () {
    var currentValue = parseInt($(this).val())
    homeTotalSum += currentValue
    $('#resultHome').text(homeTotalSum);
  });
</script>

<script>


</script>


</html>
