<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 50rem;">
        <div class="card-header" id="sbheader">
          <img class="center" src="/images/scoreboardtext.gif" height="50" width="600" alt="and beer" /> HEB: #1 in TX!
        </div>
        <table class="card-table table" id="scoreboard">
          <thead>
            <tr>
              <th scope="col">Team</th>
              <th scope="col">1st</th>
              <th scope="col">2nd</th>
              <th scope="col">3rd</th>
              <th scope="col">4th</th>
              <th scope="col">5th</th>
              <th scope="col">6th</th>
              <th scope="col">7th</th>
              <th scope="col">8th</th>
              <th scope="col">9th</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id=Vistor></td>

              <td><form><input type="number" class="visScore" id="visScore1"></form></td>
              <td><form><input type="number" class="visScore" id="visScore2"></form></td>
              <td><form><input type="number" class="visScore" id="visScore3"></form></td>
              <td><form><input type="number" class="visScore" id="visScore4"></form></td>
              <td><form><input type="number" class="visScore" id="visScore5"></form></td>
              <td><form><input type="number" class="visScore" id="visScore6"></form></td>
              <td><form><input type="number" class="visScore" id="visScore7"></form></td>
              <td><form><input type="number" class="visScore" id="visScore8"></form></td>
              <td><form><input type="number" class="visScore" id="visScore9"></form></td>

              <td><h3 id="resultVis"></h3></td>
            </tr>
            <tr>
              <td>Home</td>

              <td><form><input type="number" class="homeScore" id="homeScore1"></form></td>
              <td><form><input type="number" class="homeScore" id="homeScore2"></form></td>
              <td><form><input type="number" class="homeScore" id="homeScore3"></form></td>
              <td><form><input type="number" class="homeScore" id="homeScore4"></form></td>
              <td><form><input type="number" class="homeScore" id="homeScore5"></form></td>
              <td><form><input type="number" class="homeScore" id="homeScore6"></form></td>
              <td><form><input type="number" class="homeScore" id="homeScore7"></form></td>
              <td><form><input type="number" class="homeScore" id="homeScore8"></form></td>
              <td><form><input type="number" class="homeScore" id="homeScore9"></form></td>

              <td><h3 id="resultHome"></h3></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-4 offset-md-4">
      <div class="jumbotron jumbotron-fluid p-0">
        <div class="container">
          <h1 class="display-4">Eephus Pitch Leauge </h1>
          <p class="lead">Leguage Rules</p>
          <p>No Stealing, 1 Hit, 1 Bag </p>
          <p>Only 9 AtBats per inning, One Pitcher One Game</p>
          <p>Eephus Pitch Only</p>

          <button type="button" class="btn btn-primary" id ="start-match">Start Game</button>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">

      <h1>Home Team</h1>
      <ul id="home-team">
        {{#each teams}}
          {{> teams/homeTeam}}
        {{/each}}
      </ul>
      
    </div>
    <div class="offset-md-7 float-right">
      <h1>Away Team</h1>
      <ul id="away-team">
        {{#each teams}}
            {{> teams/awayTeam}}
        {{/each}}
      </ul>

    </div>
  </div>

  <div class="row fixed-bottom" id="roster-and-batter">
    <div class="col-md-4" id="homediv">

      <div id="home-roster"></div>

    </div>

    <div class="col-md-2 offset-md-1 align-bottom">
      <div class="card border-dark mb-3 sticky-bottom" id="batter-card" style="max-width: 18rem;">
        <div class="card-header" id="batter-card-name"></div>
        <div class="card-body text-dark">
          <h4 class="card-title" id="batter-card-bat_avg"></h4>
          <h5 class="card-title" id="batter-card-roster"></h5>
          <h5 class="card-title" id="batter-card-pos">Pos:</h5>
          <h5 class="card-title" id="batter-card-hand">Handness:</h5>
         </div> 
          <button id="hit-btn">Hit</button>
          <button id="out-btn">Out</button>
      </div>
    </div>

    <div class="col-md-4 offset-md-1" id="awaydiv">

      

      <div id="away-roster"></div>

    </div>
  </div>  
</div>

