<div class="container">
        <div class="card" style="width: 60rem;">
            <div class="card-header">
              {{!-- <img class="center" src=https://i.imgur.com/PVEmUZN.gif height="50" width="600" alt="and beer" /> Welcome to the Ballpark!  --}}
            </div>
            <table class="card-table table">
              <thead>
                <tr>
                  <th scope="col">Team</th>
                  <th scope="col">1st</th>
                  <th scope="col">2nd</th>
                  <th scope="col">3rd</th>
                  <th scope="col">4th</th>
                  <th scope="col">5th</th>
                  <th scope="col">6th</th>
                  <th scope="col">7th</th>
                  <th scope="col">8th</th>
                  <th scope="col">9th</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>visTeam</td>
                  <td><form><input type="number" name="visScore1st"></form></td>
                  <td><form><input type="number" name="visScore2nd"></form></td>
                  <td><form><input type="number" name="viscore3rd"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                </tr>
                <tr>
                  <td>homeTeam</td>
                  <td><form><input type="number" name="visScore1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
              </tbody>
            </table>
          </div>
         </div>

<div id="diamond">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

