<div class="container">
        <div class="card" style="width: 60rem;">
            <div class="card-header">
              {{!-- <img class="center" src=https://i.imgur.com/PVEmUZN.gif height="50" width="600" alt="and beer" /> Welcome to the Ballpark!  --}}
            </div>
            <table class="card-table table">
              <thead>
                <tr>
                  <th scope="col">Team</th>
                  <th scope="col">1st</th>
                  <th scope="col">2nd</th>
                  <th scope="col">3rd</th>
                  <th scope="col">4th</th>
                  <th scope="col">5th</th>
                  <th scope="col">6th</th>
                  <th scope="col">7th</th>
                  <th scope="col">8th</th>
                  <th scope="col">9th</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>visTeam</td>
                  <td><form><input type="number" name="visScore1st"></form></td>
                  <td><form><input type="number" name="visScore2nd"></form></td>
                  <td><form><input type="number" name="viscore3rd"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                </tr>
                <tr>
                  <td>homeTeam</td>
                  <td><form><input type="number" name="visScore1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
                  <td><form><input type="number" name="runs1st"></form></td>
              </tbody>
            </table>
          </div>
         </div>

<div class="row">
  <div class="col-md-4 offset-md-2">
    <h1>Home Team</h1>
    <ul>
      {{#each teams}}
          {{> teams/homeTeam}}
      {{/each}}
    </ul>
  </div>
  
  <div class="col-md-4">
    <h1>Away Team</h1>
    <ul>
      {{#each teams}}
          {{> teams/homeTeam}}
      {{/each}}
    </ul>
  </div>
  
  <div class="col-md-4 offset-md-4">
    <h1>Batter</h1>
    <ul>
      {{#each players}}
          {{> batter/batter}}
      {{/each}}
    </ul>
  </div>
  

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

