body { /*This CSS entry needs to be present in order to get background picture on initial page load*/
  background: url(./diamondEmpty.jpg) top center no-repeat;
}

.list-group-item {
  line-height: 2.5;
}
input[type=number]{

  font-family: 'digital-clock-font';
  width: 25px;
 
} 

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
@font-face{
  font-family:'digital-clock-font';
  src: url('\public\fonts\digital-7\digital-7.ttf');
 }

  width: 40px;
} 

